"""
Service Default Settings
"""

# from django.conf import settings
# django settings is available here but is read only
# to set variables simply declare them.
# use dynaconf merging syntax.

FOO = "override from apps/{{app_name}}"
