from django.conf import settings
from django.core.management.base import BaseCommand


class Command(BaseCommand):
    help = "Prints Hello from API"

    def handle(self, *args, **options):
        self.stdout.write(f"Hello from {{app_name}} - Loaded apps: {settings.LOADED_APPS}")
